<main>
  <table>
    <thead>
      <tr>
        <td>Nro</td>
        <td>Disponibility</td>
        <td>Entry</td>
        <td>Actions</td>
      </tr>
    </thead>

    <tbody>
      @for (parking of parkingDataService.parkingsData; track $index) {
      <tr>
        <td>{{ parking.number }}</td>
        <td class="{{ parking.disponibility ? 'available' : 'full' }}">
          {{ parking.disponibility ? "Available" : "Full" }}
        </td>
        <td>{{ parking.entry }}</td>
        <td>
          @if (isAdmin) {
          <button (click)="handleDeleteByNumber(parking.number)">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              height="24px"
              viewBox="0 -960 960 960"
              width="24px"
            >
              <path
                d="M280-120q-33 0-56.5-23.5T200-200v-520h-40v-80h200v-40h240v40h200v80h-40v520q0 33-23.5 56.5T680-120H280Zm400-600H280v520h400v-520ZM360-280h80v-360h-80v360Zm160 0h80v-360h-80v360ZM280-720v520-520Z"
              />
            </svg>
          </button>
          }

          <button (click)="handleDisponibility(parking.number)">
            @if (parking.disponibility) {
            <svg
              xmlns="http://www.w3.org/2000/svg"
              height="24px"
              viewBox="0 -960 960 960"
              width="24px"
            >
              <path
                d="M280-400q-33 0-56.5-23.5T200-480q0-33 23.5-56.5T280-560q33 0 56.5 23.5T360-480q0 33-23.5 56.5T280-400Zm0 160q-100 0-170-70T40-480q0-100 70-170t170-70q67 0 121.5 33t86.5 87h352l120 120-180 180-80-60-80 60-85-60h-47q-32 54-86.5 87T280-240Zm0-80q56 0 98.5-34t56.5-86h125l58 41 82-61 71 55 75-75-40-40H435q-14-52-56.5-86T280-640q-66 0-113 47t-47 113q0 66 47 113t113 47Z"
              />
            </svg>
            } @else {
            <svg
              xmlns="http://www.w3.org/2000/svg"
              height="24px"
              viewBox="0 -960 960 960"
              width="24px"
            >
              <path
                d="M790-57 488-359q-32 54-87 86.5T280-240q-100 0-170-70T40-480q0-66 32.5-121t86.5-87L57-790l57-56 732 733-56 56Zm50-543 120 120-183 183-127-126 50-37 72 54 75-74-40-40H553l-80-80h367ZM280-320q51 0 90.5-27.5T428-419l-56-56-48.5-48.5L275-572l-56-56q-44 18-71.5 57.5T120-480q0 66 47 113t113 47Zm0-80q-33 0-56.5-23.5T200-480q0-33 23.5-56.5T280-560q33 0 56.5 23.5T360-480q0 33-23.5 56.5T280-400Z"
              />
            </svg>
            }
          </button>
        </td>
      </tr>
      } @empty {
      <span>Parking is empty 😭</span>
      }
    </tbody>
  </table>

  <div>
    <button (click)="handleGetParkings()">Get all parking</button
    ><button (click)="handleAddParking()">Add new parking</button
    ><button (click)="handleEmptyAll()">Empty all</button>
  </div>
</main>
