@use "../../../../public/styles/fonts.scss";
@use "../../../../public/styles/colors.scss";

main {
  table {
    width: 100%;
    border-collapse: collapse;

    thead {
      tr {
        display: grid;
        grid-template-columns: 0.5fr 1fr 1fr 0.5fr;

        td {
          padding: 1.75rem;
          font-family: fonts.$font-primary;
          font-weight: 600;
          color: white;
          display: flex;
          align-items: center;

          button {
            background: none;
            border: none;

            svg {
              fill: rgba($color: #ffff, $alpha: 0.25);
              transition: fill 0.3s linear;

              &:hover {
                cursor: pointer;
                fill: rgba($color: #ffff, $alpha: 0.5);
              }

              &.active {
                fill: rgba($color: #ffff, $alpha: 0.75);
                animation: flip 300ms linear forwards;
              }
            }
          }
        }
      }
    }

    tbody {
      display: block;
      margin: 0 1rem;
      height: calc(100vh - 10.9rem);
      overflow-y: auto;
      background: rgba(255, 255, 255, 0.2);
      box-shadow: 0 4px 30px rgba(255, 255, 255, 0.3);
      border-radius: 0.5rem;

      tr {
        display: grid;
        grid-template-columns: 0.5fr 1fr 1fr 0.5fr;
        padding: 0.5rem 0;
        font-size: 1.2rem;
        color: white;

        td {
          display: flex;
          align-items: center;
          padding: 1rem;
          font-family: fonts.$font-secondary;
          font-weight: 400;

          &:nth-child(2) {
            position: relative;
          }

          &:nth-child(2)::after {
            position: absolute;
            top: 50%;
            left: 0;
            transform: translate(-50%, -50%);
            content: "";
            width: 0.5rem;
            height: 0.5rem;
            border-radius: 1rem;
          }

          &.full {
            &::after {
              background-color: colors.$info;
            }

            &:hover {
              cursor: pointer;
            }
          }

          &.available {
            &::after {
              background-color: colors.$success;
            }
          }

          &.engaged {
            &::after {
              background-color: colors.$error;
            }
          }
        }

        button {
          border: none;
          background: none;
          fill: rgba(#ffff, 0.5);
          transition: fill 0.3s linear;

          &:hover {
            cursor: pointer;
            fill: rgba(#ffff, 0.75);
          }

          &:disabled {
            cursor: not-allowed;
            fill: rgba($color: #ffff, $alpha: 0.1);
          }
        }
      }

      tr:nth-child(odd) {
        background-color: rgba($color: #ffff, $alpha: 0.1);
      }

      tr:nth-child(even) {
        background-color: rgba($color: #ffff, $alpha: 0.2);
      }

      tr:hover {
        background-color: rgba($color: #ffff, $alpha: 0.3);
      }

      span {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-family: fonts.$font-tertiary;
        font-size: 3rem;
        font-weight: 600;
        color: #fff;
      }

      &::-webkit-scrollbar {
        height: 12px;
        width: 12px;
      }
      &::-webkit-scrollbar-track {
        background-color: #ebebeb;
      }

      &::-webkit-scrollbar-track:hover {
        background-color: #ebebeb;
      }

      &::-webkit-scrollbar-track:active {
        background-color: #ebebeb;
      }

      &::-webkit-scrollbar-thumb {
        background-color: rgba(0, 0, 0, 0.25);
      }

      &::-webkit-scrollbar-thumb:hover {
        background-color: rgba(0, 0, 0, 0.25);
      }

      &::-webkit-scrollbar-thumb:active {
        background-color: rgba(0, 0, 0, 0.25);
      }
    }

    tfoot {
      display: block;

      tr {
        display: grid;
        grid-template-columns: 2fr 0.5fr;
        justify-items: center;

        td {
          padding: 1.5rem;
          display: flex;
          align-items: center;
          gap: 1rem;
          font-family: fonts.$font-secondary;
          font-weight: 500;
          color: rgba(#ffff, 0.75);

          &#pagination {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 1rem;

            button {
              border: none;
              background: none;
              font-family: fonts.$font-secondary;
              font-weight: 600;
              font-size: 1.2rem;
              color: rgba(255, 255, 255, 0.5);
              fill: rgba(255, 255, 255, 0.5);
              transition: color 0.3s linear, fill 0.3s linear;

              &:hover {
                cursor: pointer;
                color: rgba(255, 255, 255, 0.75);
                fill: rgba(255, 255, 255, 0.75);
              }

              &:disabled {
                cursor: not-allowed;
                color: rgba(255, 255, 255, 0.1);
                fill: rgba(255, 255, 255, 0.1);
              }
            }

            > button {
              display: flex;
              align-items: center;
            }

            > div {
              display: flex;
              align-items: center;
              gap: 1rem;

              > button:disabled {
                cursor: not-allowed;
                color: rgba(255, 255, 255, 1);
                text-decoration: underline;
              }
            }
          }
        }
      }
    }
  }
}

@keyframes flip {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(180deg);
  }
}
