@use "../../../../public/styles/fonts.scss";
@use "../../../../public/styles/colors.scss";

main {
  min-height: 100vh;
  width: 100%;
  display: flex;
  background: linear-gradient(
    to right,
    colors.$primary-gradient,
    colors.$secondary-gradient
  );
}

aside {
  position: sticky;
  padding: 1rem;
  color: rgba(255, 255, 255, 0.75);

  svg {
    margin: 0 auto;
  }

  > a {
    padding: 1rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    text-decoration: none;
    font-family: fonts.$font-primary;
    font-weight: bold;
    color: #fff;
    white-space: nowrap;

    > svg {
      fill: #fff;
    }
  }

  div {
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    border-top: 1px solid rgba(255, 255, 255, 0.5);

    a,
    button,
    form {
      padding: 0.75rem;
      display: flex;
      align-items: center;
      gap: 1rem;
      font-family: fonts.$font-secondary;
      font-size: 1rem;
      text-align: left;
      text-decoration: none;
      white-space: nowrap;
      color: rgba(255, 255, 255, 0.75);
      border: none;
      background: none;
      border-left: 3px solid transparent;
      transition: border-color 150ms linear;

      > svg {
        fill: rgba(255, 255, 255, 0.75);
      }

      &.page:hover {
        cursor: pointer;
        border-color: rgba(255, 255, 255, 0.25);
      }

      &.button:hover {
        cursor: pointer;
      }

      &.active {
        border-left: 3px solid #fff;
        color: #fff;

        &:hover {
          cursor: default;
        }

        svg {
          fill: #fff;
        }
      }

      > input {
        border: none;
        background: none;
        font-family: fonts.$font-secondary;
        font-size: 1rem;
        color: rgba(255, 255, 255, 0.75);

        &:focus {
          outline: none;
        }
      }
    }
  }

  span,
  input {
    width: 0;
    padding: 0;
    transition: width 300ms ease-in-out;
    overflow: hidden;
  }

  &:hover {
    span,
    input {
      width: 7rem;
    }

    svg {
      margin: 0;
    }
  }
}
